*{
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", serif;
}
:root{
  --logo-color:#0E0E0E;
  --button-color:#006A50;
  --banner-background:#C6E4D6;
}
/*nav section*/
.nav{
  display: flex; justify-content:space-between; align-items: center;
   font-family: "Fira Sans", serif;
  font-style: normal;
  list-style: none;
  padding: 30px 80px;
}
.bangladesh{
  font-weight: 700;
  color: var(--logo-color);
  font-size: 32px;
}
.btn{
  width: 116px; height: 52px;
  border-color:var(--button-color);
  border-radius: 10px;
  color: var(--button-color);
  background: none;
  font-weight: 600;
  font-size: 18px;
  font-family: "Fira Sans", serif;
}
/*banner section*/
.banner{
  background: var(--banner-background);
  border-radius: 10px;
  width: 1180px; height: 460px;
  margin: 30px auto; padding: 25px 20px 20px 10px;
  display: flex; justify-content: space-between; align-items: center;
}
.banner-image{
  width: 380px; height: 320px;
}